name: CI MacOS (M1 chip)

on:
  # Allows to run the workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build RADS lib on MacOS arm
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          arch -arm64 brew reinstall zlib

      - name: Setup pyenv
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
          MACOSX_DEPLOYMENT_TARGET: 10.13
          PYTHON_CONFIGURE_OPTS: "--enable-framework"
          CFLAGS: "-Wno-implicit-function-declaration"
          LDFLAGS: "-L/usr/local/opt/zlib/lib"
          CPPFLAGS: "-I/usr/local/opt/zlib/include"
          PKG_CONFIG_PATH: "/usr/local/opt/zlib/lib/pkgconfig"
        uses: "gabrielfalcao/pyenv-action@v5"
        with:
            default: 3.6.9

      - name: Install dependencies
        run: pip install wheel setuptools

      - name: Built wheel for MacOS ARM
        run: python setup.py bdist_wheel --plat-name macos_arm

      - name: Upload Python wheel
        uses: actions/upload-artifact@v2
        with:
          name: Python wheel
          path: ${{github.workspace}}/dist/raidionicsseg-*.whl
          if-no-files-found: error

  test:
    needs: build
    runs-on: self-hosted

    steps:
        - name: Set up Python 3.7
          uses: actions/setup-python@v2
          with:
            python-version: 3.7

        - name: Download artifact
          uses: actions/download-artifact@master
          with:
            name: "Python wheel"

        - name: Install wheel
          run: pip install --find-links=${{github.workspace}} raidionicsseg

        - name: Test CLI
          run: raidionicsseg --help

        - name: Clone repo
          uses: actions/checkout@v1

        - name: Singular unit test
          run: cd ${{github.workspace}}/tests && python inference_test.py

#        - name: Test with pytest
#          run: |
#            pip install pytest
#            pytest --verbose tests/
